description = "about us"
==
<div id="aboutwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 name">
                <img class="img-responsive" src="{{ 'assets/img/'|theme }}/pic.png">
                <!-- /<p>Genesis Arthangel Studio</p>container -->
                <div class="name-label"></div>
            </div><! --/col-lg-4-->
            <div class="col-lg-8 name-desc">
                <h2>Genesis Arthangel Studio</h2>
                <div class="name-zig"></div>
                <div class="col-md-12">
                    <p>Genesis Arthangel Studio is a Digital Entertaiment Studio, established on 14 September 2014. We Develop Windows, Android, PSVITA Games. Based on Indonesian background. We make an unique storyline, Variative gameplay, and Awesome art.</p>
                    <br>
                    <p>There is our Logo means...</p>
                    <p>Three Hexagon frames are for Technology</p>
                    <p>Phoenix emblem is for Eternity</p>
                    <p>Wing emblem is for Freedom</p>
                </div>
                
            </div><! --/col-lg-8-->
    
        </div><!-- /row -->
    </div><!-- /container -->