description = "contact"
==
<div id="contactwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <p>CONTACT US</p>
                <p>
                    <small><b>Phone :</b><br/>
                    +6281910538041 (ID)<br/>
                    <b>Email :</b> <br/>
                    leon_sieghart@genesis-arthangel.com<br/>
                    genesis.arthangel@gmail.com
                    <p>
                    <head></head>

                    <a href="https://www.facebook.com/genesisarthangelstudio"> <i class="fa fa-facebook"></i></a>
                    
                   
                    
                </p>
                <html>

            </div>
            
            <div class="col-lg-6">
            </div>
        
        </div><! --/row -->
    </div><!-- /container -->
</div>