description = "contact"
==
<div id="contactwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <p>CONTACT US</p>
                <p>
                    <small><b>Phone :</b><br/>
                    +6281910538041<br/>
                    <b>Email :</b> <br/>
                    leon_sieghart@genesis-arthangel.com<br/>
                    genesis.arthangel@gmail.com
                    <p>
                    <head></head>

                    <a href="https://www.facebook.com/genesisarthangelstudio"> <i class="fa fa-facebook"></i></a>
                    <a href="https://www.facebook.com/elionore.leon.sieghart">Facebook </a>
                </p>
                <html>

            </div>
            
            <div class="col-lg-6">
                <form role="form">
                  <div class="form-group">
                    <label for="exampleInputName1">Your Name</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter name">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                    <label for="exampleInputText1">Message</label>
                    <textarea class="form-control" rows="3"></textarea>
                  </div>
                  <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        
        </div><! --/row -->
    </div><!-- /container -->
</div>