description = "contact"
==
<div id="contactwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <p>CONTACT US</p>
                <p>
                    <small><b>Phone :</b><br/>
                    +6281910538041 (ID)<br/>
                    <a href="https://www.facebook.com/genesisarthangelstudio"><i class="fa fa-facebook"></i> Facebook</a> 
                <p/>
            </div>
            
            <div class="col-lg-6">
                <br/><br/>
                <p>
                    <b>Email :</b> <br/>
                    leon_sieghart@genesis-arthangel.com<br/>
                    genesis.arthangel@gmail.com
                    <p>
                </p>
            </div>
        
        </div><! --/row -->
    </div><!-- /container -->
</div>