description = "portofolio"

[builderList]
modelClass = "Ibrdrahim\product\Models\Game"
scope = "-"
displayColumn = "name"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
<div id="portfoliowrap">
    <div class="container">
        <div class="row">
            <h1>SOME OF MY LATEST WORKS</h1>
            {% for record in records %}
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
                        <div class="project-wrapper">
                            <a href="{{'game'|page({slug:record.slug})}}">
                                <div class="project">
                                    <div class="">
                                        <div class="">
                                            <img class="img-responsive" src="{{record.featured_image.path}}" alt="">
                                        </div>
                                        <div class="overlay"></div>
                                    </div>
                                    <div class="proc">
                                        <h3>{{record.name}}</h3>
                                        <p>{{record.short_description}}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div><!-- col-lg-4 -->
            {%endfor%}
        </div><!-- /row -->
    </div><! --/container -->
    <div class="container">
        <div class="row mt centered">
            <h1>MY DESIGN PROCESS</h1>
            <div class="col-lg-4 proc">
                <i class="fa fa-coffee"></i>
                <h3>The Meeting</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
            </div>
            <div class="col-lg-4 proc">
                <i class="fa fa-cogs"></i>
                <h3>The Ideas</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
            </div>
            <div class="col-lg-4 proc">
                <i class="fa fa-heart"></i>
                <h3>The Product</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
            </div>
            
        </div><! --/row -->
    </div><! --/container -->
</div><! --/Portfoliowrap -->