description = "services"
==
<div id="servicewrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8-offset-2 centered">
                <h1>SERVICES</h1>
                <h3>Looking for commission artist? Or need a partner for developing your game?We can help you!</h3>
                <p>We provide some services below</p>
            </div><!-- /col-lg-8 -->
        </div><! --/row -->
        
        <div class="row mt">
            <div class="col-lg-3 service">
                <i class="fa fa-shield"></i><p>Manga Illustration<br/></p>
                <p class="text">Interest on Manga illustration or Manga comic? then you want to realize what you imagine/concept into a drawing?just contact us!</p>
            </div>
            <div class="col-lg-3 service">
                <i class="fa fa-shield"></i><p>3D Modeling<br/></p>
                <p class="text">We are Expert on Military assets and Architectures.</p>
            </div>
            <div class="col-lg-3 service">
                <i class="fa fa-shield"></i><p>Voice Actor/Actress<br/></p>
                <p class="text">Temporary closed</p>
            </div>
            <div class="col-lg-3 service">
                <i class="fa fa-shield"></i><p>Game Design<br/></p>
                <p class="text">Temporary closed</p>
            </div>
        </div><! --/row -->
<br>
<br>
        <div class="row">
            <div class="col-lg-8-offset-2 centered">
                <!-- /<p>due lack of executors/workers,….commwork services is temporary closed, thank you…</p>-->
            </div><!-- /col-lg-8 -->
        </div><! --/row -->
        
    </div><! --/container -->
</div><! --/servicewrap -->