description = "testimonials"
==
<div id="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 mt">
            
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                    <div class="item active mb centered">
                      <h3>MARK WEBBER</h3>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                      <p><img class="img-circle" src="{{ 'assets/img/'|theme }}/pic-t1.jpg" width="80"></p>
                    </div>

                    <div class="item mb centered">
                      <h3>PAUL LEVINGSTON</h3>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                      <p><img class="img-circle" src="{{ 'assets/img/'|theme }}/pic-t2.jpg" width="80"></p>
                    </div>

                    <div class="item mb centered">
                      <h3>LUCY LENNIN</h3>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                      <p><img class="img-circle" src="{{ 'assets/img/'|theme }}/pic-t3.jpg" width="80"></p>
                    </div>

                  </div>
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                  </ol>
                </div>
                  
            </div><! --/col-lg-8 -->
        </div><! --/row -->
    </div><! --/container -->
</div><! --/testimonials -->