description = "Default layout"
==
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">

    <title>Genesis Arthangel - {{ this.page.title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ 'assets/css/bootstrap.css'|theme }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ 'assets/css/style.css?v='|theme ~ date().timestamp }}" rel="stylesheet">
    <link href="{{ 'assets/css/font-awesome.min.css'|theme }}" rel="stylesheet">
    <link href="{{ 'assets/js/fancybox/jquery.fancybox.css'|theme }}" rel="stylesheet" />
    <link href="{{ 'assets/js/bxslider/css/jquery.bxslider.css'|theme }}" rel="stylesheet" />

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-offset="0" data-target="#theMenu">
        
    <!-- Menu -->
    <nav class="menu" id="theMenu">
        <div class="menu-wrap">
            <h1 class="logo"><a href="index.html#home">Genesis </br> Arthangel</a></h1>
            <i class="fa fa-times menu-close"></i>
            <a href="{{ 'home'|page }}" class="{% if this.page.id == 'home' %}
                        active
                     {% endif %}">Home</a>
            <a href="{{ 'service'|page }}" class="{% if this.page.id == 'service' %}
                        active
                     {% endif %}">Service</a>
            <a href="{{ 'product'|page }}" class="{% if this.page.id == 'product' %}
                        active
                     {% endif %}">Product</a>
            <a href="{{ 'about-us'|page }}" class="{% if this.page.id == 'about-us' %}
                        active
                     {% endif %}">About Us</a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-envelope"></i></a>
        </div>
        
        <!-- Menu button -->
        <div class="visible-xs" id="menuToggle"><i class="fa fa-bars"></i></div>
    </nav>

    <header role="banner" class="hidden-xs">
        <img id="logo-main" src="{{ 'assets/img/october.png'|theme }}" width="200" alt="Logo Thing main logo">
    </header><!-- header role="banner" -->
    <nav class="hidden-xs navbar navbar-default" role="navigation">
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li class="{% if this.page.id == 'home' %}
                        active
                     {% endif %}"><a href="{{ 'home'|page }}">Home</a></li>
          <li class="{% if this.page.id == 'service' %}
                        active
                     {% endif %}"><a href="{{ 'service'|page }}">Service</a></li>
           <li class="{% if this.page.id == 'product' %}
                        active
                     {% endif %}"><a href="#">Product</a></li>
           <li class="{% if this.page.id == 'about-us' %}
                        active
                     {% endif %}"><a href="{{ 'about-us'|page }}">About Us</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>

    {%page%}
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ 'assets/js/classie.js'|theme }}"></script>
    <script src="{{ 'assets/js/bootstrap.min.js'|theme }}"></script>
    <script src="{{ 'assets/js/smoothscroll.js'|theme }}"></script>
    <script src="{{ 'assets/js/jquery.stellar.min.js'|theme }}"></script>
    <script src="{{ 'assets/js/fancybox/jquery.fancybox.js'|theme }}"></script>   
    <script src="{{ 'assets/js/bxslider/js/jquery.bxslider.js'|theme }}"></script>    
    <script src="{{ 'assets/js/main.js'|theme }}"></script>
        <script>
        $(function(){
            $('.bxslider').bxSlider({
                pager:false,
                auto:true,
                pause:5000
            });
            $.stellar({
                horizontalScrolling: false,
                verticalOffset: 40
            });

            $(".fancybox").fancybox();
            
        });
        </script>
  </body>
</html>