==
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <title>Genesis Arthangel Studio - {{ this.page.title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ 'assets/css/bootstrap.css'|theme }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ 'assets/css/style.css?v='|theme ~ date().timestamp }}" rel="stylesheet">
    <link href="{{ 'assets/css/font-awesome.min.css'|theme }}" rel="stylesheet">
    <link href="{{ 'assets/js/fancybox/jquery.fancybox.css'|theme }}" rel="stylesheet" />
    <link href="{{ 'assets/js/bxslider/css/jquery.bxslider.css'|theme }}" rel="stylesheet" />

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-offset="0" data-target="#theMenu">
        
    <!-- Menu -->
    <nav class="menu" id="theMenu">
        <div class="menu-wrap">
            <h1 class="logo"><a href="index.html#home">DSGN NYC</a></h1>
            <i class="fa fa-times menu-close"></i>
            <a href="#home" class="smoothScroll">Home</a>
            <a href="#about" class="smoothScroll">About</a>
            <a href="#portfolio" class="smoothScroll">Portfolio</a>
            <a href="#services" class="smoothScroll">Services</a>
            <a href="#contact" class="smoothScroll">Contact</a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-envelope"></i></a>
        </div>
        
        <!-- Menu button -->
        <div class="visible-xs" id="menuToggle"><i class="fa fa-bars"></i></div>
    </nav>

    {%page%}
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ 'assets/js/classie.js'|theme }}"></script>
    <script src="{{ 'assets/js/bootstrap.min.js'|theme }}"></script>
    <script src="{{ 'assets/js/smoothscroll.js'|theme }}"></script>
    <script src="{{ 'assets/js/jquery.stellar.min.js'|theme }}"></script>
    <script src="{{ 'assets/js/fancybox/jquery.fancybox.js'|theme }}"></script>   
    <script src="{{ 'assets/js/bxslider/js/jquery.bxslider.js'|theme }}"></script>    
    <script src="{{ 'assets/js/main.js'|theme }}"></script>
        <script>
        $(function(){
            $.stellar({
                horizontalScrolling: false,
                verticalOffset: 40
            });
        });
        </script>
        
        <script type="text/javascript">
      $(function() {
        //    fancybox
        jQuery(".fancybox").fancybox();
        $('.bxslider').bxSlider({
            pager:false,
            auto:true,
            pause:2000
        });
      });
       </script>

  </body>
</html>